{{ ansible_managed | comment }}
APT::Periodic::Update-Package-Lists "{{ 1 if common_unattended_upgrades_enabled | bool else 0 }}";
APT::Periodic::Unattended-Upgrade "{{ 1 if common_unattended_upgrades_enabled | bool else 0 }}";
