{{ ansible_managed | comment }}
# Sourced by the dns-01 hook, which runs as root. Mode 0600: this credential
# can write to the whole zone, so anything that can read it can issue a
# certificate for any name in the domain.
DNS_ZONE='{{ acme_dns_zone }}'
DNS_API_BASE='{{ acme_dns_api_base }}'
DNS_API_KEY='{{ acme_dns_api_key }}'
DNS_API_SECRET='{{ acme_dns_api_secret }}'
